.resource--container {
  height: 100%;
  width: 100%;
}

.resource-display--container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
  width: 100%;
}

.resource-button--container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 30%;
  width: 100%;
}

.resource--button {
  width: 14rem;
}