h1, h2, h3, 
h4, h5, h6, 
p {
  color: #FFFFFF;
  margin: 0;
}

p {
  font-size: 1.5rem;
}

.main--container {
  background: #cd08e7;
  height: 75vh;
  width: 90vw;
  padding: 2rem;
  margin: 0 auto;
}