header {
  color: #FFFFFF;
  background: #cd08e7;
  display: flex;
  padding: 1rem;
  margin-bottom: 5vw;
}

img {
  height: 2rem;
  margin-right: 10px;
}

a {
  text-decoration: none;
  margin: 0px;
  padding: 0px;
}